.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.Box-input {
  width: 674px;
  height: 539px;
  border: 2px solid #1E3A8A;
  border-radius: 5px;
  padding: 20px;
  background-color: #64748B;
}

.textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 16px;
}

.submit-button {
  width: 300px;
  height: 60px;
  border-radius: 10px;
  background-color: #2563EB;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
