.box {
  width: 500px;
  max-height: 500px;
  overflow-y: auto;

  padding: 20px;
  background-color: #1e293b;
  border: 2px solid #2563eb;
  border-radius: 10px;
  color: white;
  box-sizing: border-box;
}

/* Responsivo */
@media (max-width: 768px) {
  .box {
    width: 90%;
    max-height: none;
  }
}

@media (max-width: 480px) {
  .box {
    width: 100%;
    padding: 15px;
  }
}

.title {
  font-size: 22px;
  margin-bottom: 10px;
  color: #06b6d4;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  white-space: pre-wrap;
  word-wrap: break-word;
}
